.header {
    background-color: #00000047;
    height: 3.3em;
}

.logo {
    float: left;
    width: 10em;
    margin: .3em .4em;
    cursor: pointer;
}

.header-text {
    text-align: center;
    padding: .8em 0;
    font-size: larger;
    font-weight: bold;
 }